body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #333;
    align-content: center;
    height: 100vh;
    margin: 0px;
}

.calculator {
    padding: 20px;
    background-color: silver
}

input[type=number] {
    width: 290px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(245, 245, 237);
}

input[type=button] {
    height: 50px;
    width: 70px;
    padding: 5px;
    font-size: 18px;
    border-radius: 100px;
}

.content {
    padding-top: 10px;
}

.button {
    padding-top: 15px;
}

.one {
    padding: 5px;
}

.two {
    padding: 5px;
    padding-bottom: 20px;
}

.head-1 {
    text-align: center;
    color: rgb(60, 8, 109);
}